# Question 1: 
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only. 
 
Input Format: The first line of the input contains an email address. Output Format: Print the company name in single line. Example; Input: john@google.com Output: google

In [1]:
a=input("Enter the email address :")
b=a.split('@')

c=b[1].split(".")
print(c[0])

Enter the email address :john@google.com
google

# Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically. 
 
Input Format: The first line of input contains words separated by the comma. Output Format: Print the sorted words separated by the comma. Example: Input: without,hello,bag,world Output: bag,hello,without,world

In [9]:
a=input()
b=a.split(",")

v=sorted(b)
for i in range(len(v)):
    print(v[i],end=",")

without,hello,bag,world
bag,hello,without,world,

# Question 3: 
Create your own Jupyter Notebook for Sets. Reference link: https://www.w3schools.com/python/python_sets.asp

In [2]:
a=set(["a",1,2,3,4,4,4,4]) #initialization of set

In [3]:
a #display of set

{1, 2, 3, 4, 'a'}

In [4]:
a.add(23) #add an element to set

In [5]:
a #display after adding

{1, 2, 23, 3, 4, 'a'}

In [6]:
b=a.copy() #copying one element to another set

In [7]:
b #display set

{1, 2, 23, 3, 4, 'a'}

In [8]:
b.update("5") #add element 5 to set b

In [9]:
b.difference(a) #set b difference with a

{'5'}

In [10]:
b.intersection(a) #display common elements using intersection

{1, 2, 23, 3, 4, 'a'}

In [11]:
b.discard("2") #deleting element 2 from set b

In [12]:
b #display after removing

{1, 2, 23, 3, 4, '5', 'a'}

In [13]:
b.union(a) #elements after union of a and b

{1, 2, 23, 3, 4, '5', 'a'}

In [14]:
b.remove('5') #removing element 5 
b

{1, 2, 23, 3, 4, 'a'}

In [15]:
b.clear() #clearing the set
b

set()

# Question 4:  
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates. 
 
Input Format: The first line contains n-1 numbers with each number separated by a space. Output Format: Print the missing number Example: Input:1 2 4 6 3 7 8 Output:5 
 
Explanation: In the above list of numbers 5 is missing and hence 5 is the input

In [1]:
n=input()
lst=[]
set1=set()
set2=set()

for i in n:
  if(i!=" "):
    set1.add(int(i))


for j in range(1,len(set1)):
  set2.add(j)



print(set2-set1)

1 2 4 6 3 7 8
{5}

# Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved. 
 
Example: If the input list is 12 24 35 24 88 120 155 88 120 155 
 
Then the output should be 12 24 35 88 120 155 
 
Explanation: Third, seventh and ninth element of the list L has been removed because it was already present. Input Format: In one line take the elements of the list L with each element separated by a space. Output Format: Print the elements of the modified list in one line with each element separated by a space. Example: Input: 12 24 35 24 Output: 12 24 35

In [34]:
n=input()
a=n.split(" ")
lst=[]
set1=set()
set2=set()

for i in a:
  if(i!=" "):

    lst.append(i)
e=set(lst)

for j in e:
    print(j,end=" ")

12 24 35 24 88 120 155 88 120 155
24 88 35 12 120 155

In [1]:
n=input()
a=n.split(" ")
lst=[]
set1=set()
set2=set()

for i in a:
  if(i!=" "):

    lst.append(i)
e=set(lst)


for j in e:
    print(j,end=" ")

12 24 35 24
35 24 12